body {
    background-color: var(--branco);
    color: var(--texto-escuro);
}

.header {
    background-color: var(--fundo);
    border-radius: 20px;
    align-items: center;
    color: var(--branco);
    display: flex;
    margin: 20px;
    padding: 45px 55px;
    justify-content: space-between;
}

.form-cadastro{
    display: flex;
    flex-direction: center;
    align-items: center;
    width: 50%;
    gap: 16px;
}

label {
    font-weight: 600;
    align-self: flex-start;
}

input{
    border: 1px solid var(--borda);
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
     padding: 10px;
}

.usuario{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.texto-confrimacao-login{
    font-size: 1rem;
}

/*.botoes{
    display: flex;
    flex-direction: column;
}
.botao-entrar{
    background-color: var(--fundo);
    color: var(--amarelo);
    padding: 14px;
    border: none;
    border-radius: 10px;
    width: 500%;
    font-weight: 600;
}

.botao-entrar:hover{
    background-color: #26394E;
    cursor: pointer;
}

.voltar{
    text-align: center;
    text-decoration: underline;
    color: var(--fundo);
    font-weight: 600;
}