body {
    background-color: var(--branco);
    color: var(--texto-escuro);
}

.container-login {
    display: flex;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

/**LADO ESQUERDO*/

.painel-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--fundo);
    color: var(--branco);
}

.logo {
    width: 50%;
    margin: 50px 0 10px;
}

.decricao {
    margin: 0 0 60px;
    font-size: 0.9em;
    font-weight: 300;
}

.link-cadastro {
    color: var(--amarelo);
    font-weight: 600;
    margin-top: 50px;
    text-decoration: underline;
}

.painel-direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 40px 60px;
}

.cabecalho-login {
    font-size: 2rem;
    margin: 0;
}

.subtitulo-login {
    margin: 8px 0 0;
    color: #333333;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 16px;
}

label {
    font-weight: 600;
    align-self: flex-start;
}

input {
    padding: 12px;
    border: 1px solid var(--borda);
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
}

.campo-senha {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.icone-olho {
    position: absolute;
    /**para o filho ser ativado o relative no pai deve estar ativado para que o absolute funcione e o elemento flutue*/
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    /** Move o elemento para cima metae da sua propria altura*/
}

.botao-login {
    background-color: var(--fundo);
    color: var(--amarelo);
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
}

.botao-login:hover {
    background-color: #26394E;
    cursor: pointer;
}

.link-esqueci {
    text-align: center;
    font-size: 0.9rem;
    text-decoration: underline;
    font-weight: 600;
    color: var(--texto-escuro);
    margin-top: 10px;
}

.erro-login {
    color: var(--erro);
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    display: none;

}

.logo-reponsividade {
    display: none;
}

/**Responsividade - Media Query*/
@media (max-width: 900px) {

    .container-login {
        grid-template-columns: 1fr;
        /*Ocupa somente uma fracao da tela*/
    }

    .painel-esquerdo {
        margin: 0;
    }

    .decricao {
        font-size: 1.1em;
        max-width: 55%;
    }

    .logo {
        display: none;
    }

    .logo-reponsividade {
        display: inline;
        /*Padrao da imagem*/
    }

}

@media (max-width: 600px) {
    .form-login {
        max-width: 70%;
    }
}